body{
    font-size: 16px;
    font-family: verdana sans-serif;
    color: #333;
}

#section1{
    background-color: rgba(170, 200, 40, 0.6);
    padding: 10px;
    margin: 20px 0px;
}

#section2{
background-color: rgb(40, 170, 200,0.6);
padding: 10px;
margin: 20px 0px;
}

#section1:hover,#section2:hover{
    box-shadow: 0px 0px 5px #444;
}

legend{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #444;
}
#section1 input{
    width: 300px;
    height: 20px;
}
#section2 input{
width: 200px;
height: 20px;
}

#section1 label{
    display: inline-block;
    width: 200px;
    padding: 10px 0px 15px 40px;
}

#section2 label{
    display: inline-block;
    width: 100px;
    padding: 6px 0px 15px 11px;
}

input[type="submit"]{
    float: right;
    font-size:  14px; 
    color: #fff;
    background-color:  #fe6921 ;
    font-weight: bold;
    text-transform: uppercase; border-radius: 5px;
}
input[type="submit"]:hover{
    box-shadow:0px 0px 4px #555 ;
    background-color: #e8ab2e;
}