*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("image19.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.wrapper{
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}
.nav{
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 0.6)transparent);
    z-index: 100;
}

.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}

.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;

}
.link:hover, .active{
    border-bottom: 2px solid #d8cbcb;
}
.nav-button .btn{
    width: 130px;
    height: 4px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 90px;
    cursor: pointer;
    transition: 3s ease;
}
#registerBtn{
    margin-left: 15px;
    color: black;
    
}
.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}

.btn:hover{
    background:rgba(255, 255, 255, 0.4) ;
}
.btn.btn.white-btn:hover{
    background:rgba(255, 255, 255, 0.4) ;
}
.nav-menu-btn{
    display: none;
}
.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}
.register-container{
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: 5s ease-in-out;
}
.top-span{
    color: #fff;
    margin-left: 5px;
    font-size: small;
    padding: 10px 0;
    justify-content: center;
}
.top-span a{
font-weight: 500;
color: #fff;
margin-left: 5px
}
.header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}
.two-forms{
    display: flex;
    gap: 10px;
}
.input-field{
    font-size: 15px;
    background:rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: 2s ease;
}
.input-field:hover, .input-field:focus{
    background:rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder{
    color:   #610cd8;
}

.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

.submit{
    font-size: 15px;
    font-weight: 500;
    color: rgb(11, 10, 10);
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background:rgba(255, 255, 255, 0.25);
    cursor: pointer;
    transition: 3s ease-in-out;
}
.submit:hover{
    background:rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(255, 255, 255, 0.2);
}

.two-col{
    display: flex;
    justify-content: space-between;
    color:#fff ;
    font-size: small;
    margin-top: 10px;
}

.two-col .one{
    display: flex;
    gap: 5px;
}
.two label a{
    text-decoration: none;
    color: #fff;
}
.two label a:hover{
    text-decoration: underline;
}
